.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  width: 20 px;
  height: 20 px;
}
footer {
  margin-bottom: 50 px;
  font-size: 8px;
}
img {
  height: 300px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
.hero-container {
  padding: 30px;
  display: flex;
}
.hero-description {
  font-size: 20px;
  color: grey;
}
.hero-container img {
  width: 350px;
  height: 200px;
  border-radius: 5px;
}
main {
  background-color: grey;
}
